
Anexo_Kahlil_Nuñez/ANEXO H.docx

Anexo_Kahlil_Nuñez/ANEXO I.docx

Anexo_Kahlil_Nuñez/Anexo_G.xlsx

Mock-up/Mock-up Web/3-Olvidar Contraseña de Usuario.jpg

Informe Tecnico/Informe Técnico - Semana 1.docx

Informe Tecnico/Informe Técnico - Semana 2.docx

Anexo_Kahlil_Nuñez/Cv_Kahlil Nuñez.docx

avance portafolios img/1-mobile.JPG

avance portafolios img/2-mobile.JPG

avance portafolios img/3-mobile.JPG

avance portafolios img/4-mobile.JPG

avance portafolios img/web-1.JPG

avance portafolios img/web-2.JPG

avance portafolios img/web-3.JPG
